<div class="col-lg-3">
    <ul class="nav myaccount-tab-trigger text-right">
        <li class="nav-item">
            <a class="nav-link {% if page is defined and page == 'account' %} active {% endif %}" href="{{ path('account', { locale: 'ar' }) }}" >ملفي الشخصي</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page is defined and page == 'my.orders' %} active {% endif %}" href="{{ path('my.orders', { locale: 'ar' }) }}">طلباتي</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page is defined and page == 'address' %} active {% endif %}" href="{{ path('address', { locale: 'ar' }) }}">عنواني</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('logout', { locale: 'ar' }) }}" >تسجيل خروج</a>
        </li>
    </ul>
</div>