<div class="col-lg-3">
    <ul class="nav myaccount-tab-trigger">
        <li class="nav-item">
            <a class="nav-link {% if page is defined and page == 'account' %} active {% endif %}" href="{{ path('account', { locale: 'en' }) }}" >Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page is defined and page == 'my.orders' %} active {% endif %}" href="{{ path('my.orders', { locale: 'en' }) }}">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page is defined and page == 'address' %} active {% endif %}" href="{{ path('address', { locale: 'en' }) }}">Addresses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('logout', { locale: 'en' }) }}" >Logout</a>
        </li>
    </ul>
</div>