{% extends 'baseAr.html.twig' %}

{% block body %}

    <!-- Begin Hiraola's Breadcrumb Area -->
    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>التأكيد</h2>
                <ul>
                    <li><a href="{{ path('home', { locale: 'en' }) }}">الصفحة الرئيسية</a></li>
                    <li class="active">التأكيد</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <!-- Begin Hiraola's Error 404 Page Area -->
    <div class="error404-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto text-center">
                    <div class="search-error-wrapper">
                        <h1>التأكيد</h1>
                        <h2>شكرا لك!</h2>
                        <p class="short_desc">تم إرسال بريد إلكتروني يحتوي على ارتباط يمكنك النقر فوقه لتأكيد حسابك</p>
                        <div class="hiraola-btn-ps_center"></div>
                        <a href="{{ path('home', { locale: 'ar' }) }}" class="hiraola-error_btn">اذهب إلى الصفحة الرئيسية</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiraola's Error 404 Page End Here -->

{% endblock %}



