{% extends 'baseAr.html.twig' %}

{% block body %}

    <div class="breadcrumb-area" style="background-image: url({{ vich_uploader_asset(banner, 'imageFile') | imagine_filter('Extra_large') }});background-repeat:no-repeat;background-position:center;">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>تأكيد التسجيل</h2>
                <ul>
                    <li><a href="{{ path('home', {locale:'ar'}) }}">الصفحة الرئيسية</a></li>
                    <li class="active">تأكيد التسجيل</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Hiraola's Breadcrumb Area End Here -->
    <!-- Begin Hiraola's Error 404 Page Area -->
    <div class="error404-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto text-center">
                    <div class="search-error-wrapper">
                        <h1>تأكيد التسجيل</h1>
                        <h2>شكرا لك!</h2>
                        <p class="short_desc">يمكنك الآن تسجيل الدخول باستخدام بيانات الاعتماد الخاصة بك</p>
                        <div class="hiraola-btn-ps_center"></div>
                        <a href="{{ path('login', { locale: 'ar' }) }}" class="hiraola-error_btn">اذهب إلى صفحة تسجيل الدخول</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hiraola's Error 404 Page End Here -->

{% endblock %}



