{% extends 'base.html.twig' %}

{% block body %}

    {% include '_banner.html.twig' %}
    <div style="padding-top: 60px">
        <div class="container">
            <div>
                <ul>
                    <li class="text-center" style="color: #595959;font-size: 25px;"><a href="{{ path('home', { locale: 'en' }) }}">Home</a> / Reset Password</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Begin Shine AuroraLogin Register Area -->
    <div class="hiraola-login-register_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-8 offset-2">
                    {{ form_start(requestForm) }}
                        <div class="login-form">
                            <h4 class="login-title">Reset Password</h4>
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <label>Email Address*</label>
                                    {{ form_widget(requestForm.email, {'attr': {'class': 'form-control', 'placeholder':'Enter Your Email'}}) }}
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="hiraola-login_btn">Send</button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
    <!-- Shine AuroraLogin Register Area  End Here -->


{% endblock %}

